<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.autoappv31">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.EditUserControlActivity"
            android:parentActivityName=".Activity.UserControlActivity"></activity>
        <activity android:name=".Activity.UserControlActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.AllMoneyCategoryActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.AllBuildActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.RecognizeAutoActivity"
            android:parentActivityName=".Activity.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver android:name="com.allyants.notifyme.NotificationPublisher" />
        <receiver android:name="com.allyants.notifyme.BootNotifyMe">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.PasswordActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity
            android:name=".Activity.EditUserActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.CategoryWorkListActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.CategoryListActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.AutoListActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.AllMoneyActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.AddAutoActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.AddCategoryWorkActivity"
            android:parentActivityName=".Activity.CategoryWorkListActivity" />
        <activity
            android:name=".Activity.AddCategoryActivity"
            android:parentActivityName=".Activity.CategoryListActivity" />
        <activity
            android:name=".Activity.AddBuildActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.AddMoneyActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity android:name=".Activity.QRScannerActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>